.info_title {
	float: left;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 70px;
	vertical-align: middle;
}

.info_content {
	float: left;
	font-size: 13px;
	letter-spacing: -1px;
	line-height: 70px;
	vertical-align: middle;
}

.my_info_ul li span {
	display: inline-block;
}

.my_info_ul li {
	text-align: left;
	height: 70px;
}

.my_info_ul {
	margin: 24px 24px 24px 0;
	border-right: 1px solid #000;
}

.article {
	margin: 96px 0;
}

.my_info_title {
	font-family: Nanum Brush Script;
	font-size: 26px;
	text-align: left;
	padding-bottom: 12px;
}

.my_info_left_content {
	float: left;
	width: 50%;
}

.my_info_right_content {
	float: right;
	width: 50%;
}

.my_info_right_content .my_skill_list {
	margin: 24px 24px 24px 0;
}

.my_info_right_content .my_skill_list dt {
	text-align: left;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ebe9e9;
}

.my_info_right_content .my_skill_list dt strong {
	letter-spacing: 1px;
	font-size: 12px;
}

.my_info_right_content .my_skill_list dd {
	position: relative;
	height: 10px;
	margin: 10px 0;
	background-color: rgb(212, 209, 209);
	overflow: hidden;
}

.my_info_right_content .my_skill_list dd .guage {
	position: absolute;
	height: 10px;
	top: 0;
	left: 0;
	display: block;
	text-indent: -9999px;
	z-index: 2;
}

.my_info_right_content .my_skill_list dd .html {
	width: 80%;
	background-color: #f3c50d;
}

.my_info_right_content .my_skill_list dd .javascript {
	width: 80%;
	background-color: #e44c3b;
}

.my_info_right_content .my_skill_list dd .java {
	width: 60%;
	background-color: #1fee75;
}

.my_info_right_content .my_skill_list dd .db {
	width: 60%;
	background-color: #6b92db;
}

.my_info_right_content .my_skill_list dd .platform {
	width: 80%;
	background-color: #303942;
}

.my_info_right_content .my_skill_list dd .android {
	width: 50%;
	background-color: #9955b4;
}

.layout {
	max-width: 1100px;
	margin: 0 auto;
}

.section.white {
	height: 720px;
}

.parallax-container {
	height: 500px;
	z-index: -1;
}

#googleMap {
	height: 450px;
	width: 100%;
	background-color: grey;
}