.click {
	text-align: right;
	margin-top: 20px;
}

ul#nav-mobile li#profile:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.header {
	position: fixed;
}

.nav-up {
	background-color: transparent;
	box-shadow: none;
}

.nav-down {
	background-color: rgba(20, 20, 20, 20);
}

.nav-top {
	background-color: transparent;
	color: #ffffff;
	opacity: 1;
	box-shadow: none;
}

.header-background {
	background-image: url('../../images/background/0.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
	z-index: -1;
}

#login_btn {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #ffd000;
	background-color: #ffd000;
	color: #ffffff;
}

.sns_btn {
	margin-bottom: 10px;
	border-radius: 3px;
	margin-left: 32px;
	margin-right: 32px;
	text-align: center;
}

.sns_img {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: -20px;
	border-radius: 3px;
}

.bottom {
	border-top: solid;
	border-width:1px;
	border-color:grey;
	margin: 20px;
	padding: 20px;
	text-align: center;
}

