extends ./index
block googleMap
	script(src="https://maps.googleapis.com/maps/api/js?key=" + JSON.parse(map_key))
	script.
		function initialize() {
			const uluru = {lat: 37.6194965, lng: 127.05969579999999};
			const map = new google.maps.Map(document.getElementById('googleMap'), {
				zoom: 15,
				center: uluru
			});
			const marker = new google.maps.Marker({
				position: uluru,
				map: map
			});
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	script

block content 
	.parallax-container
		.parallax
			img(src='images/background/0.jpg')
	.section.white
		.layout(style='margin-bottom:70px;')
			h2 About me
			.about_me
				p.grey-text.text-darken-3.lighten-3
				|저는 백엔드 개발자가 되기 위해 공부를 하고 있습니다. "천재는 노력하는 자를 이기지 못하고, 노력하는 자는 즐기는 자를 이기지 못한다"는 말이 있습니다.
				|<br /><br />저는 새로운 기술을 배우는 것을 두려워하지 않고 즐기며 더 나은 개발자가 되기 위해서 항상 노력하여 그 가치를 인정 받고 싶습니다.
		.layout
			.my_info
				.my_info_left_content
					h3.my_info_title My Information Table
					ul.my_info_ul
						li
							span.info_title name(이름) : 
							span.info_content 유제호
						li
							span.info_title birthday(생년월일) : 
							span.info_content 1991/12/14
						li
							span.info_title mobile(핸드폰) : 
							span.info_content  010-5280-1214
						li
							span.info_title email(이메일) : 
							span.info_content yjh6456@gmail.com
						li
							span.info_title kakaotalk(카카오톡) : 
							span.info_content yoojeho
				.my_info_right_content
					h3.my_info_title Skill & Run Tool List
					dl.my_skill_list
						dt
							strong HTML / CSS
						dd
							span.guage.html(style='width:70%;')
						dt
							strong Javascript / jQuery
						dd
							span.guage.javascript(style='width:80%;')
						dt
							strong Java
						dd
							span.guage.java(style='width:50%;')
						dt
							strong Database(MariaDB, Firestore)
						dd
							span.guage.db(style='width:80%;')
						dt
							strong Platform(Firebase, Amazon_EC2)
						dd
							span.guage.platform(style='width:60%;')
						dt 
							strong Android
						dd
							span.guage.android(style='width:50%;')

	.parallax-container
		.parallax
			img(src='images/background/5.jpg')
	.section.white(style='height:550px;')
		.layout
			h2(style='margin-bottom:40px;') Contact
			.row
				.input-field
					i.material-icons.prefix email
					input#contact_email.validate(type='email', name='email')
					label Email Address
				.input-field
					i.material-icons.prefix title
					input#contact_title.validate(type='text', name='title')
					label title
				.input-field
					i.material-icons.prefix mode_edit
					textarea#contact_message.materialize-textarea(style='max-height:300px', name='message')
					label message
			button#contact_submit.btn(type='submit', name='action', style='background-color:#212020; margin-bottom:30px;')
				| Submit
				i.material-icons.right send
	div#googleMap
	
	.fixed-action-btn
		a.btn-floating.btn-large.amber.accent-3
			i.large.material-icons arrow_upward
			
	script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
	script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
 
	script.
		$(document).ready(function() {
			$('.parallax').parallax();
			
			//맨위로 버튼
			$('.fixed-action-btn').click(function() {
				$( 'html, body' ).animate( { scrollTop : 0 }, 400 );
				return false;
			});

			//contact message 줄수 제한
			$('#contact_message').keydown(function() {
				const rows = $('#contact_message').val().split('\n').length;
				const maxRows = 4;
				if (rows > maxRows) {
					modifiedText = $('#contact_message').val().split("\n").slice(0, maxRows);
					$('#contact_message').val(modifiedText.join("\n"));
				}
			});

			//contact 메일 보내기
			$('#contact_submit').click(function() {
				const email_check = $('#contact_email').hasClass('invalid');
				let email ='';
				if (email_check) {
					email = 'invalid';
				} else {
					email = $('#contact_email').val();
				}

				const title = $('#contact_title').val();
				const message = $('#contact_message').val();
				$.post('/index/contact_submit', {
					email : email,
					title : title,
					message : message
				},
				function (data, status) {
					if (status != "success") {
						alert('ajax error');
					} else {
						if (data == "success") {
							$('#contact_email').val('');
							$('#contact_title').val('');
							$('#contact_message').val('');
							alert('success');
						} else if (data == "email_invalid") {
							alert('메일 형식이 틀렸습니다');
						} else if (data == "email_null") {
							alert('메일을 입력해주세요')
						} else if (data == "title_null") {
							alert('제목을 입력해주세요') 
						} else if (data == "message_null") {
							alert('메세지를 입력해주세요')
						} else {
							alert('fail');
						}
					}
				})
			})
		});