extends ./index
block content
	.header-background
	.type09(style='margin-top:30px;')
		.row(style='width:70%;')
			.col.s2(style='padding:0 .3rem;')
				select#post_category.browser-default(name='category', style='border:1px solid #d4d0d0;')
					option(value='') Category
					if category === 'Java'
						option(value='Java', selected) Java
					else
						option(value='Java') Java 

					if category === 'Database'
						option(value='Database', selected) Database
					else 
						option(value='Database') Database

					if category === 'Node'
						option(value='Node', selected) Node
					else
						option(value='Node') Node

					if category === 'etc'
						option(value='etc', selected) 기타
					else 
						option(value='etc') 기타

		
			.col.s2(style='padding:0 .3rem;')
				select#search_option.browser-default(name='searchOtn', style='border:1px solid #d4d0d0;')
					if searchOpt === 'title_content'
						option(value='title_content', selected) 제목+내용
					else 
						option(value='title_content') 제목+내용

					if searchOpt === 'title'
						option(value='title', selected) 제목
					else
						option(value='title') 제목
					
					if searchOpt === 'content'
						option(value='content', selected) 내용
					else
						option(value='content') 내용		
			
			.input-field.col.s6(style='margin:0')
				input#search_text(type='text', class='validate', name='searchTxt')
			.col.s2(style='padding-left:0;')
				a#search_btn.btn.btn-primary.btn.cyan(role='button') Search  
	
		table
			colgroup
				col(span='1', style='width: 8%;')
				col(span='1', style='width: 10%;')
				col(span='1', style='width: 72%;')
				col(span='1', style='width: 15%;')
			thead
				tr
					th(scope='cols') No.
					th(scope='cols') Category
					th(scope='cols') Title
					th(scope='cols') author
			tbody
				-let start, end, row = 5;
				-let len = posts.length;
				-let pages = Math.floor((len + row-1) / row);
				-start = len-(page-1)*row -1;
				-end = len-(page)*row -1;
				-end = (end >= -1) ? end : -1;
				-for(let i = start ; i > end; i--)
					tr
						td #{posts[i].post_number}
						if posts[i].category === 'etc'
							td 기타
						else
							td #{posts[i].category}
						td 
							a#title(href='/board/content/'+posts[i].post_number+'/1') #{posts[i].title}
						td #{posts[i].displayName}
		.click
			a#write_btn.btn.btn-primary.btn-lg.red.accent-2(role='button') write  
					
			
		.page
			ul.pagination
				-for(let i = 0; i<pages; i++)
					li
						if page_opt
							if page-1 === i
								a.selected(href='/board/post?page=' + (i+1) + page_opt)= i+1
							else
								a(href='/board/post?page=' + (i+1) + page_opt)= i+1
						else 
							if page-1 === i
								a.selected(href='/board/post?page=' + (i+1))= i+1
							else
								a(href='/board/post?page=' + (i+1))= i+1

	script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
	script(type='text/javascript', src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")

	script.
		$(document).ready(function() {
			$('#write_btn').click(function() {
				$.post('/board/usercheck', function(data, status) {
					if (status != "success") {
						alert('ajax error');
					} else {
						if (data == "true") {
							window.location.replace('/board/write');
						} else {
							alert('로그인 해주세요');
						}
					}
				})
			})

			$('#search_btn').click(function() {
				const category = 'category=' + $('#post_category').val();
				const searchOtn = $('#search_option').val();
				const searchTxt = searchOtn + '=' + $('#search_text').val();
				window.location.replace('/board/post?page=1&' + category + '&' + searchTxt)
			})

			$('#search_text').keypress(function(event) {
				if (event.which == 13) {
					$('#search_btn').click();
				}
			})
		})

		
			
