extends ./index
block content
	.header-background
	.con
		.row(style='margin:0;')
			.col.s9(style='padding-left:0;')
				|tite:
			.col.s3(style='padding-right:0;')
				|categori:
		.row
			.col.s9(style='padding-left:0;')
				.collection(style='position:static;')
					.collection-item #{post.title}
			.col.s3(style='padding-right:0;')
				.collection(style='position:static;')
						.collection-item #{post.categori}
		|content:
		.collection(style='position:static;')
			.collection-item(style='min-height:300px;') 
				-const len = content.length;
				-for(let i=0; i<len; i++)
					if content[i] === ' '
						|&nbsp
					else if content[i] === '\n'
						|<br />
					else
						|#{content[i]}

	
		if(author === authId)			
			div(style='text-align:right;')
				a.btn.btn-info.red.accent-2(href='/board/post?page=1', role='button', style='margin:1px;') List
				a.btn.btn-primary.red.accent-2(href='/board/edit/post/' + post.post_number, role='button', style='margin"1px;') Edit
				a.btn.btn-default.red.accent-2(href='/board/delete/post/' + post.post_number, role='button', style='margin:1px;') Delete
		else
			.btn-group(style='text-align:right')
				a.btn.btn-info.red.accent-2(href='/board/post?page=1', role='button') List
				.btn.btn-primary.red.lighten-3(style='cursor:no-drop;') Edit
				.btn.btn-defalut.red.lighten-3(style='cursor:no-drop;') Delete
	
	
