extends ./index
block content
	.header-background
	.container(style='margin-top:30px')
		|tite:
		ul.collection(style='position:static;')
			li.collection-item #{posts.title}
		|content:
		ul.collection(style='position:static;')
			li.collection-item(style='min-height:300px;') 
				-const len = content.length;
				-for(let i=0; i<len; i++)
					if content[i] === ' '
						|&nbsp
					else if content[i] === '\n'
						|<br />
					else
						|#{content[i]}

	
		if(author === authId)			
			div(style='text-align:right;')
				a.btn.btn-info.red.accent-2(href='/board/post?page=1', role='button', style='margin:1px;') List
				a.btn.btn-primary.red.accent-2(href='/board/post?page=1', role='button', style='margin"1px;') Edit
				a.btn.btn-default.red.accent-2(href='/board/delete/post/' + posts.post_number, role='button', style='margin:1px;') Delete
		else
			.btn-group(style='text-align:right')
				a.btn.btn-info.red.accent-2(href='/board/post?page=1', role='button') List
				.btn.btn-primary.red.accent-1(style='cursor:no-drop;') Edit
				.btn.btn-defalut.red.accent-1(style='cursor:no-drop;') Delete
	
	
