extends ./index
block content 
	.header-background
	div.con
		form(action='/board/write' method="post")
			.form-group
				label(for='text') Title:
				.col-sm-13
					input#title.form-control(type='text',  name='title')
			.form-group
				label(for='content') Content:
				textarea(rows='3', style='resize:none; height:300px', name='content')
			.form-group
				div.click
					.btn-group(class='click')
						input.btn.btn-primary.red.accent-2(type='submit', value='Submit', style="margin:1px")
						a.btn.btn-primary.red.accent-2(href='/board/post/1', role='button', style="margin:1px") Cancle