doctype html
html
	head 
		meta(charset='utf-8')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/register.css')

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

	body
		header
			div(class="layer")
				a(href='/index') Home
      
			p
				h1
					a(href='/auth/register') REGISTER

		nav
			.con
				form#register.form-horizontal(action='/auth/register' method="post" enctype="multipart/form-data")
					.form-group
						label.control-label.col-sm-2(for='text') E-mail:
						.col-sm-9
							input#email.form-control(type='email', placeholder='Enter email', name='email')
						.col-sm-1
							button(id='send') send 
					.form-group
						label.control-label.col-sm-2(for='pwd') Password:
						.col-sm-10
							input#pwd.form-control(type='password', placeholder='Enter password', name='password')
					.form-group
						label.control-label.col-sm-2(for='text') DisplayName
						.col-sm-10
							input#dpname.form-control(type='text', placeholder='Enter displayName', name='displayName') 
					.form-group
						label.control-label.col-sm-2(for='text') profilePicture
						.col-sm-10
							input#profile.form-control(type='file', placeholder='profile', name='profile')      
					.form-group
						.col-sm-offset-2.col-sm-10
							input#register_submit.btn-default(type='submit' value="Submit")
        
	script.
		$(document).ready(() => {
			// 회원가입 제출
			let flag = true;
			$('#register_submit').click((event) => {
				if (flag) {
					event.preventDefault();
					const email = $('#email').val();
					const password = $('#pwd').val();
					const displayName = $('#dpname').val();
					
					$.post('/auth/register_check', {
						email,
						password,
					},
					(data, status) => {
						if(status != "success") {
							alert('ajax error');
						} else {
							if (data === 'not confirmed') {
								alert('인증되지 않은 메일입니다')
							} else if (data === 'email_null') {
								alert('메일을 입력해주세요')
							} else if (data === 'exist user') {
								alert('존재하는 유저입니다')
							} else if (data === 'success') {
								flag = false;
								$('#register_submit').trigger('click');
							} else {
								alert(data);
							}
						}
					});
				}
				flag = true;
			});

			// 이메일 인증메일 발송
			$("#send").click((event) => {
				event.preventDefault();
				const email = $("#email").val();
				$.post("/auth/send", {
					email,
				},
				(data, status) => {
					if(status != "success") {
						alert('ajax error');
					} else {
						if (data === 'success') {
							alert('메일이 성공적으로 전송되었습니다')
						} else if (data === 'email_null') {
							alert('메일을 입력해주세요')
						} else if (data === 'email_incorrect') {
							alert('메일 형식이 틀렸습니다.')
						} else {
							alert('전송이 실패하였습니다')
						}
					}
				});
			});
		}) 


    
